<div class="example-container">
    <mat-card class="center">
      <mat-card-header>
          <h1 class="example-app-name">Subasta de Sobre Cerrado</h1>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field>
              <input matInput placeholder="Text" [(ngModel)]="Test.text">
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button (click)="saveTest()">Save</button>
      </mat-card-actions>
    </mat-card>
</div>
<!--<p *ngFor="let content of fillerContent">{{content}}</p>-->