<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" class="example-menu"><mat-icon>menu</mat-icon></button>
    <button mat-icon-button routerLink="/home">
        <mat-icon>3d_rotation</mat-icon>
    </button>
    <button mat-button class="NavMatButton" routerLink="/subastasobre">Subasta Sobre Cerrado</button>
    <button mat-button class="NavMatButton" routerLink="/subastamazo">Subasta de Mazo</button>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/login" *ngIf="!checkUserLogin()">
        <mat-icon>person</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="checkUserLogin()">
      <mat-icon>person</mat-icon>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">Cerrar Sesión</button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!--<a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>-->
        <a mat-list-item routerLink="/subastasobre">Subasta Sobre Cerrado</a>
        <a mat-list-item routerLink="/subastamazo">Subasta de Mazo</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>





<!--mat-card>
    <mat-form-field>
        <input matInput placeholder="Input">
    </mat-form-field>
    <button mat-raised-button>Click me!</button>
</mat-card-->

